

.contacts-main{
  display: flex;
}

.contacts-edit{
  margin: 50px;
  margin-top: 100px;
}

.contacts-edit input{
  background-color: #D3E7F4;
  display: block;
  margin-top: 30px;
  font-size: 24px;
  border: 0px;
}

.contacts-edit button{
  width: 70px;
  height: 25px;
  margin-top: 15px;
  margin-left: 110px;
  background-color: #A3CEE9;
}

table {
  margin: 50px;
  text-align: center;
  border-collapse: collapse;
}

table th {
  background-color: #A3CEE9;
  font-size: 16px;
  color: white;
  height: 35px;
}

table td {
  font-size: 16px;
  border: 2px white solid;
  padding: 10px;
  background-color: #D3E7F4;
}

table button{
  background-color: #D3E7F4;
}
